/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0; border: }
.flexslider .slides { padding: 0 ; margin: 0 ; list-style: none ; }
.flexslider .slides > li { height: auto; padding: 0; background: none; display: inline-block; display: none; text-align: center; margin: 0; padding:0; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: inline-block; vertical-align:bottom; }
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; zoom: 1; }
.flexslider .slides {zoom: 1; }
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {position: absolute; padding: 20px 20px; width: 80%; }
.caption-top-left { left: 40px; top: 40px; }
.caption-top-center { left: 50%; top: 40px; margin-left: -40%; }
.caption-top-right { right: 40px; top: 40px; }
.caption-center-center { left: 50%; top: 40%; margin-left: -40%; }
.caption-bottom-left { left: 40px; bottom: 40px; }
.caption-bottom-center { left: 50%; bottom: 40px; margin-left: -40%; }
.caption-bottom-right { right: 40px; bottom: 40px; }
.caption-align-left { text-align: left !important; }
.caption-align-right { text-align: right!important; }
.caption-align-center { text-align: center!important; }
.flex-caption h1, .flex-caption h2, .flex-caption h3, .flex-caption h4, .flex-caption h5, .flex-caption h6   { color: #ffffff; margin: 0; margin: 0; }

/* Direction Nav */
.flex-direction-nav { height: 0px; width: 100%;  z-index: 0; margin: 0; list-style: none; padding: 0; }
.flex-direction-nav li { z-index: 100; position: absolute; 
	margin: 0; padding: 0;
	top: 50%; margin-top: -30px !important;
	display: none; cursor: pointer; text-indent: -9999px;
}
.flex-direction-nav li { right: 0px;  }
.flex-direction-nav li:first-child { right: inherit; left: 0px; }
.flex-direction-nav li a {width: 60px; height: 60px;display: block; cursor: pointer; text-indent: -9999px; }
.flex-direction-nav li .flex-next { background: #333333 url(../img/sprites.png) no-repeat 0px 0px; }
.flex-direction-nav li .flex-prev { background: #333333 url(../img/sprites.png) no-repeat -60px 0px; }
.flex-direction-nav li .flex-next:hover { background-color: #1e7987;   }
.flex-direction-nav li .flex-prev:hover { background-color: #1e7987;   }
.flex-direction-nav li .disabled {cursor: default; display: none;}

.flexslider-container:hover .flex-direction-nav li { display:block;  }

/* Control Nav */
.flex-control-nav { display: none; position: absolute; bottom: 15px; left: 0px; width: 100%; text-align: center; height: 13px; z-index: 5; }
.flex-control-nav li { margin: 0 2px; display: inline-block; zoom: 1; *display: inline; width: 13px; height: 13px; }
.flex-control-nav li:first-child {}
.flex-control-nav li a {
	cursor:pointer; 
	position:relative;	
	background: #000; 
	width:13px;	height:13px; display:block;   
	margin-right:5px;
	border-radius: 12px;
	-moz-border-radius:12px; 
	-khtml-border-radius:12px; 
	-webkit-border-radius:12px;
	opacity: 0.3;
	filter: alpha(opacity=30);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	text-indent: -9999px;
	}
.flex-control-nav li a:hover { }
.flex-control-nav li a.flex-active { cursor: default; 
	background: #1e7987; 
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}

.flexslider-container:hover .flex-control-nav { display:block;  }
