form .column
{
	padding-bottom:20px;
}

section.search .results > hr
{
	margin:33px 0 20px 0;
}

section.search .results > ul
{
	margin:0;
	padding:0;
	list-style:none;
}

section.search .results > ul > li
{
	margin-bottom:25px;
}

section.search .results > ul > li h3
{
	font-size:18px;
	margin-bottom:3px;
}

section.search .results > ul > li p
{
	margin-bottom: 5px;
	margin-top:3px;
}

section.search .results > ul > li .info
{
	font-size:13px;
}

section.search .results > ul > li .info a.url
{
	color:#999;
}

section.search .results a.highlight,
section.search .results a.highlight:visited
{
	color:#FFF;
	display:block;
	background-color:#ED692F;
	padding:10px;
	border-radius:3px;
	margin-bottom:20px;
}

section.search .results a.highlight:hover
{
	text-decoration:none;
	background-color:#EB5514;
}

section.search .results a.highlight h2
{
	font-size:18px;
	margin-bottom:3px;
	margin-top:-3px;
}

section.search .results a.highlight p
{
	margin-bottom:0;
	font-size:17px;
}


section.search div.no-results
{
	padding: 10px 0;
	text-align:center;
}

section.search div.no-results h3
{
	font-size:18px;
}