/* Progressbar */
.progressbar
{
	height:22px;
	background:url(gfx/upload/progress.gif);
	border:1px solid #D07611;
}

.progressbar div
{
	position:relative;
	width:0%;
	background: #FFF;
	background: rgba(255, 255, 255, 0.70);
	filter: alpha(opacity = 70);
	height:22px;
}

.dialog .icons
{
	height:350px;
	overflow:auto;
}

.dialog .icons ul
{
	margin:0;
	padding:0;
	list-style:none;
}

.dialog .icons ul > li
{
	float:left;
}

.dialog .icons ul > li > a
{
	display:block;
	padding:15px;
}

.dialog .icons ul > li.active > a
{
	background-color:#EEE;
	padding: 10px 15px;
	margin:5px 0;
}

div.tabs > ul
{
	height:28px;
}

div.tabs > ul > li
{
	display:block;
	float:left;
	margin-right:3px;
}

div.tabs > ul > li > a
{
	display:block;
	padding: 7px 9px;
	color:#666;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

div.tabs > ul > li.active > a
{
	font-weight:bold;
	background-color:#FFF;
	color:#000;
	border:1px solid #EEE;
	color:#666;
	padding: 6px 9px;
	border-bottom:1px solid #FFF;
}

div.tabs > div
{
	padding:15px;
	border:1px solid #EEE;
	margin-top:-1px;
	-webkit-border-radius: 3px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 3px;
	-moz-border-radius-topleft: 0;
	border-radius: 3px;
	border-top-left-radius: 0;
}