body
{
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#666666; 
	line-height:23px;
	margin-top:50px;
}

.error
{
	width:680px;
	margin:0 auto;
	margin-top: 25px;
}


.error > .inner h1
{
	margin-top:20px;
	color:#B5351B;
	font-weight:bold;
	margin-bottom:20px;
	font-size:25px;
}

.error > .inner p
{
	margin:0;
	padding:0;
	font-size:15px;
	line-height:23px;
	font-weight: 100;
}