body
{
	background-color:#FFF;
	margin:0px;
	padding:0;
}

.wrapper > .inner
{
	background:#FFF;
	padding:0;
	border:none;
	display:block;
	width:auto;
}

.wrapper > .inner > .ctn
{
	padding:20px;
	border:1px solid #DDD;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
