#loader
{
	background:url(img/load.gif) no-repeat;
	height:16px;
	width:16px;
	background-position:50% 50%;
	float:right;
	display:none;
}

.treeview
{
	margin-left:16px;
}

.treeview ol {
	margin-top: 0px;
	margin-left:21px;
}

.treeview .hitarea {
	background: url(img/arrows.gif) no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}

.treeview .collapsed
{
	background-position: 0px -2px;
}

.treeview .expanded
{
	background-position: -18px -2px;
}

/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.treeview li { 
	margin: 0;
	padding: 0;
	line-height: 17px;
}

.treeview li a
{
	display:inline-block;
}

.treeview li a.active
{
	
	background-color:#F4F4F4;
	padding: 2px 2px 1px 2px;
	margin: -3px -3px -2px -3px;
	border:1px solid #DDD;
}

.treeview li a.disabled
{
	opacity:0.5;
}

.treeview li > div 
{
	padding:3px 5px 3px 0;
}

.treeview a.selected {
	background-color: #eee;
}

.treeview span
{ 
	padding: 1px 1px 1px 20px;
}

.treeview img
{ 
	display: block;
	float: left;
	margin-right: 5px;
	margin-top: 0px;
}

.treeview span.folder 
{ 
	background: url(img/folder.png) 0 0 no-repeat;
}

/* Context-menu */
ul.context-menu
{
	display:none;
	margin:0;
	padding:0;
	list-style:none;
	width:180px;
	border:1px solid #CCC;
	background-color:#FFF;
}

ul.context-menu > li
{
	display:block;
}

ul.context-menu > li > a,
ul.context-menu > li > a:visited
{
	display:block;
	padding:2px 10px;
	background-color:#F9F9F9;
	text-decoration:none;
	color:#000;
	line-height: 26px;
}

ul.context-menu > li > a img
{
	display:block;
	margin-top: 4px;
	float: left;
	margin-right: 7px;
}

ul.context-menu > li > a:hover
{
	background-color:#EEE;
}