html 
{ 
	height: 100%!important;
	background-color: #FFF;
}

body
{ 
	height: 100%;
}

.wrapper 
{
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -180px 0 0 -155px;
	width: 310px;
}

.wrapper > .inner
{
	background-color: white;
	background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#F9F9F9)));
	background-image: -webkit-linear-gradient(top, white, #F9F9F9);
	background-image: -moz-linear-gradient(top, white, #F9F9F9);
	background-image: -o-linear-gradient(top, white, #F9F9F9);
	background-image: -ms-linear-gradient(top, white, #F9F9F9);
	background-image: linear-gradient(top, white, #F9F9F9);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#F9F9F9');
	padding: 20px;
	border-radius:5px;
	overflow:hidden;
}

.wrapper .logo
{
	text-align:center;
	padding:20px 0px 10px 0;
}

.inner div.input
{
	margin-top:3px;
	margin-bottom:8px;
}

.inner div.input input[type="text"],
.inner div.input input[type="password"]
{
	padding:5px;
	width:100%;
}

.inner div.input input[type="checkbox"]
{
	margin-top:10px;
}

ul.msg
{
	margin:0 0 10px 0;
	padding:0;
	list-style:none;
	color:darkred;
	font-weight:bold;
}

.wrapper .language
{
	margin-top:10px;
	text-align:center;
}

span.error
{
	color:darkred;
	font-weight:bold;
	font-size:11px;
}

.block { display:block; }