body
{
	background-color:#FFF;
	margin:5px;
}

.wrapper > .inner
{
	background:#FFF;
	padding:10px;
	display:block;
	width:auto;
}

.options
{
	margin-left:-10px;
	margin-right:-10px;
	margin-bottom:-10px;
	margin-top:10px;
	text-align:right;
	border-top:1px solid #DEE0E8;
	padding:15px;
	text-align:right;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	background-color:#F9F9F9;
	border-bottom-left-radius: 4px;
}