body
{ 
	margin: 0;
	padding: 0;
	font: 12px Arial, Geneva, sans-serif;
	color: #666;
}

a { text-decoration: none; color: #3c8df5;}
/*a:hover {border-bottom: 1px dotted #3c8df5;}*/
a:active { outline: none;}

table
{
	width:100%;
	border-collapse: collapse;
	border-spacing: 0px;
}
table tr td, 
table tr th
{
	border-spacing: 0px;
}

h1
{
	font-weight:900;
	font-size:28px;
	padding-bottom:10px;
	color:#222;
}

h2
{
	font-weight: 800;
	font-size: 24px;
	padding-bottom: 10px;
	color: #222;
	letter-spacing: -1px;
}

h3
{
	font-weight:800;
	font-size: 17px;
	padding-bottom:10px;
	color: #222;
}

p
{
	line-height:20px;
	margin-bottom:10px;
}

/* Input */
input[type="text"],
input[type="password"],
textarea
{
	/*padding: 6px;
	font-size: 12px;
	background: #fff url(/gfx/ui/form-field.gif) top left repeat-x;
	border: 1px solid #d5d5d5;
	color: #333;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	outline:none;
	color:#666;
	box-shadow: inset 0 1px 0 0px #fff;*/
	border:solid 1px #ccc;
	padding:5px;
	font-size:12px;
	background:#FFF;
	border-radius:3px;
	color:#666;
	box-shadow: inset 0 1px 0 0px #fff;
	-webkit-box-shadow:inset 0 1px 0 0px #fff;
	outline:none;
	font: 12px Arial, Geneva, sans-serif;
	box-sizing:border-box;
}

textarea
{
	padding:6px;
}

input:focus,
textarea:focus
{
	border-color:#b0b0b0;
}

a.btn,
a.btn-s,
input[type="submit"],
input[type="button"]
{
	color:#6c6c6c;
	display:inline-block;
	border:solid 1px #cfcfcf;	
	font-size:14px;
    background-color: #F0F0F0;
    background-image: -moz-linear-gradient(center top , #FFFFFF 0pt, #E0E0E0 100%);
	background-image: -webkit-linear-gradient(top,white 0,#E0E0E0 100%);
	background-image: linear-gradient(bottom,white 0,#E0E0E0 100%);
    border-color: #CCCCCC #CCCCCC #AAAAAA;
    box-shadow: 0 0 1px #FFFFFF inset;
    text-shadow: 0 1px 0 #FFFFFF;
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	padding:6px 9px;
	text-decoration:none;
	margin-bottom:5px;
	font-weight:800;
	outline:0;
}

a.btn:active,
a.btn-s:active,
input[type="submit"]:active,
input[type="button"]:active
{
	background-image: -webkit-linear-gradient(bottom,white 0,#E0E0E0 100%);
	background-image: linear-gradient(bottom,white 0,#E0E0E0 100%);	
    background-image: -moz-linear-gradient(center bottom , #FFFFFF 0pt, #E0E0E0 100%);
	
}

a.btn-s,
input[type="submit"].btn-s,
input[type="button"].btn-s
{
	padding:5px 8px;
	font-size:12px;
}

/* Utilities */
.clear { clear:both; }
.no-pad { padding:0px!important; }
.gray { color:#444;}
.padding-t { padding-top:10px;}
.hidden { display:none; }