body
{
	background-color:#F9F9F9;
	margin:13px 20px;
}

table th,
table td
{
	padding:5px;
	text-align:left;
}

table td
{
	vertical-align:top;
}

.header
{
	font-size:11px;
	padding-bottom:7px;
}

.header:after
{
	content:'';
	display:block;
	clear:both;
}

.header > .col1 
{
	margin-right:10px;
	float:left;
}

.header > .col1 img
{
	height:19px;
}

.header > .col2
{
	float:left;
	margin-left:10px;
	margin-top:1px;
}

.header > .col2 .level
{
	float:right;
}

.header > .col2 > .level,
.header > .col2 > .level a:visited
{
	color:#999;
}

.header > .col2 > .level span
{
	padding:0px 5px;
	color:#CCC;
}

.header > .col3
{
	float:right;
	text-align:right;
	margin-top:1px;
}

.header > .col3 > ul
{
	margin:0;
	padding:0;
}

.header > .col3 > ul li
{
	float:left;
	margin-right:18px;
}

.header > .col3 > ul li:last-child
{
	margin-right:0px;
}

.header > .col3 > ul li a
{
	color:#555;
	padding: 4px 0px 4px 21px;
	background-repeat:no-repeat;
	background-position:0 50%;
}

.header > .col3 > ul li.logout a
{
	background-image:url(/gfx/ico/16x16/user_go.png);
}

.header > .col3 > ul li.settings a
{
	background-image:url(/gfx/ico/16x16/setting_tools.png);
}

.header > .col3 > ul li.apps a
{
	background-image:url(/gfx/ico/16x16/dice.png);
}

.wrapper
{
	margin:0 auto;
	position:relative;
}

.wrapper > .inner
{
	display:table;
	width:100%;
	border:1px solid #E0E0E0;
	background:#FFF url(/gfx/bg.gif) repeat-y;
	background-position:-12px 0px;
}

.wrapper > .inner:after
{
	display:block;
	clear:both;
	content:'';
}

.wrapper > .inner > .sidebar
{
	vertical-align:top;
	display: table-cell;
	width:218px;
	background-color:#ECEFF1;
	border-right:1px solid #CBD3D8;
	padding:0;
	padding-bottom:10px;
	min-width:218px;
}

.wrapper > .inner > .sidebar ul
{
	list-style:none;
	padding:0;
	margin:0;
}

.wrapper > .inner > .sidebar ul.nav
{
	margin: 0;
	padding:0;
}

.wrapper > .inner > .sidebar ul.nav li a,
.wrapper > .inner > .sidebar ul.nav li a:visited
{
	text-decoration:none;
}

.wrapper > .inner > .sidebar ul.nav li ul
{
	display:none;
	background-color:#E0E5E9;
	border-bottom: 1px solid #BECAD1;
	padding:4px 0;
	margin-right:1px;
}

/* Nav icons */
.wrapper > .inner > .sidebar ul.nav li.posts > a {
	background:url(/gfx/menu/posts.png) no-repeat;
}
.wrapper > .inner > .sidebar ul.nav li.users > a
{
	background:url(/gfx/menu/group.png) no-repeat;
}

.wrapper > .inner > .sidebar ul.nav li.apps > a
{
	background:url(/gfx/menu/app.png) no-repeat;
}

.wrapper > .inner > .sidebar ul.nav li.stat > a
{
	background:url(/gfx/menu/pie.png) no-repeat;
}

.wrapper > .inner > .sidebar ul.nav > li.active > a,
.wrapper > .inner > .sidebar ul.nav > li.active > a:hover
{
	margin-right:-1px;
	background-color:#FFF;
}

.wrapper > .inner > .sidebar ul.nav li ul li a,
.wrapper > .inner > .sidebar ul.nav li.active ul li a
{
	padding: 3px 15px;
	color:#5E6A80;
	border:none;
	font-size:12px;
}

.wrapper > .inner > .sidebar ul.nav > li > a:hover
{
	background-color:#e7ecf0;	
}

.wrapper > .inner > .sidebar ul.nav > li > a:active
{
	background-color:#F9F9F9;
}

.wrapper > .inner > .sidebar ul.nav li ul li
{
	margin:0px;
}

.wrapper > .inner > .sidebar ul.nav li a
{
	background-repeat:no-repeat;
	background-position:15px 50%!important;
	background-size: 20px;
	display: block;
	padding: 10px 0 10px 43px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #bec9d0;
	color: #5e6a80;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
}

.wrapper > .inner > .sidebar ul.nav > li > ul > li.active > a
{
	font-weight:bold;
	color:#444;
}

.wrapper > .inner > .sidebar ul.nav li ul li.active:first-child > a
{
	border-top:none;
}

.wrapper > .inner > .sidebar ul.nav li ul li.active:last-child > a
{
	border-bottom:none;
}

.wrapper > .inner > .main-ctn
{
	display: table-cell;
}

.wrapper > .inner > .main-ctn > .inside
{
	padding:10px;
}

.wrapper .main-ctn ul.hor-nav 
{
	margin:0;
	padding:0;
	list-style:none;
}

.wrapper .main-ctn ul.hor-nav > li
{
	display:inline-block;
}

.wrapper .main-ctn ul.hor-nav > li > a
{
	display:block;
	padding: 9px 12px;
	color: #666;
}

.wrapper .main-ctn ul.hor-nav > li > a.active
{
	border: 1px solid #DDD;
	border-radius: 3px 3px 0 0;
	font-weight: bold;
	margin-bottom: -1px;
	border-bottom:1px solid #FFF;
	color: #333;
}

.wrapper > .footer
{
	margin-top:3px;
	padding:5px 0px;
	font-size:11px;
	color:#AAA;
}

.wrapper > .footer:after
{
	clear:both;
	content:'';
	display:block;
}

.wrapper > .footer > .col1,
.wrapper > .footer > .col2
{
	width:50%;
	float:left;
}

.wrapper > .footer > .col2
{
	text-align:right;
}

.wrapper .footer a,
.wrapper .footer a:visited
{
	color:#AAA;
}


/* Notifications */
span.error {color:darkred;}
div.msg
{
	margin:0px 0px 15px 0px;
	padding:10px 8px;
	cursor:pointer;
	border-radius:3px;
	position:relative;
}

.form div.msg
{
	margin-bottom:25px;
}

div.msg td.txt
{
	padding-left: 8px;
	font-weight:700;
}

div.msg.success
{ 
	background: #ADCA96;
	border: solid 1px #98B383;
	text-shadow: 0px 1px 0px #D3EDB3;
	box-shadow: inset 0px 1px 0px 0px #b8e3b6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #b8e3b6;
	color: #647458;
}

div.msg.success td.txt
{
	border-left: dotted 1px #708A93;
	color: #434F3B;
}

div.msg.warn 
{ 
	background: #D6D792;
	border: solid 1px #A8A969;
	text-shadow: 0px 1px 0px #E7E89C;
	box-shadow: inset 0px 1px 0px 0px #ddde93;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ddde93;
	color: #72734B;
}

div.msg.warn td.txt
{
	border-left: dotted 1px #785151;
}

div.msg.error
{
	background: #C68989;
	border: solid 1px #AD7373;
	text-shadow: 0px 1px 0px #F7B1B1;
	box-shadow: inset 0px 1px 0px 0px #eca1a1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #eca1a1;
	color: #785151;
}

div.msg.error td.txt
{
	border-left: dotted 1px #785151;
	color: #372323;
}

div.msg.info
{
	background: #96BCCA;
	border: solid 1px #82A5B2;
	text-shadow: 0px 1px 0px #B3DDED;
	box-shadow: inset 0px 1px 0px 0px #b6d7e3;
	-webkit-box-shadow: inset 0px 1px 0px 0px #b6d7e3;
	color: #4E646C;
}

div.msg.info td.txt
{
	border-left: dotted 1px #708A93;
}

div.msg td.ico
{
	font-size:18px;
	padding-right:5px;
	vertical-align:middle;
	width:20px;
}

div.msg td.ico div
{
	margin-top:-5px;
	text-align:center;
}
.paging
{
	text-align:center;
	padding:20px 0;
}

.paging > ul > li 
{
	display:inline-block;
	margin:0px 10px;
}

.headline:after
{
	display:block;
	content:'';
	clear:both;
}

.headline h2
{
	clear:both;
	padding:0px;
}

.headline p
{
	clear:both;
	margin-bottom:0px;
}

.headline > ul
{
	float:right;
	height: 33px;
}

.headline > ul.hor-nav
{
	float:left;
	height:auto;
}

.headline > ul.hor-nav > li
{
	float:none;
	margin:0;
}

.headline > ul > li
{
	margin-top:-1px;
	display:inline-block;
	margin-left:8px;
}

.headline form
{
	position:relative;
	margin-top:-1px;
}

.headline form > input[type="text"]
{
	position:relative;
	padding:4px;
	width:168px;
	box-sizing:border-box;
}


.headline form > ul
{
	width:166px;
	overflow:hidden;
	position:absolute;
	top:22px;
	left:0px;
	z-index:4;
	background-color:#FFF;
	border:1px solid #B0B0B0;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.headline form > ul > li
{
	margin-bottom:0px;
	padding:5px;
}

.headline form > ul > li img
{
	vertical-align:middle;
	margin-right:3px;
}

.main-ctn > .inside > .ctn
{
	padding:20px;
	border:1px solid #DDD;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

/* BOX */
.box 
{
	margin-bottom: 20px;
    border-radius: 3px;
}
.box-head
{
	background: url(/gfx/ui/grad-overlay-s.png) #393939;
	border-radius: 2px;
	max-height: 40px;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.box-head:hover
{
	background: url(/gfx/ui/grad-overlay-s.png) #444;
}

.box-head h4 
{
	padding: 7px 10px;
	color: #ddd;
	font-size: 14px;
	font-weight: 600;
	text-shadow: 0 1px 0 #222;
}
.box-content 
{
	background: #eee;
	border: 1px solid #bbb;
	border-top: none;
	border-radius: 0 0 3px 3px;
	padding: 10px 10px;
}
.box-content p, 
.ui-widget-content p 
{
	color: #292929;
	line-height: 1.4em;
	text-shadow: 0 1px 0 #fff;
}

.form .input > label,
.form .input div.label
{
	display:block;
	float:left;
	width:180px;
	padding-top:8px;
	font-size:12px;
	clear:both;
	color:#818386;
}

.form .input .description
{
	clear: both;
	float: left;
	margin-left: 180px;
	margin-top: 7px;
	font-size: 11px;
	color: #999;
}

.dd-container a
{
	color:#818386;
}

.dd-container a:hover label
{
	cursor:pointer;
}

.form .input .dd-container
{
	float:left;
	width:250px;
}

.form .input
{
	margin-bottom:15px;
	padding-top:15px;
	border-top: dotted 1px #E6E6E6;
	clear:both;
}

.form .input > input[type="checkbox"]
{
	margin-top:8px;
}

.form .input:first-child
{
	border-top: 0;
	clear:both;
	padding-top:5px;
}

.form .input.noline
{
	border:0;
	padding-top:5px;
}

.form .input:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.form .input input[type="text"],
.form .input input[type="password"],
.form .input textarea
{
	width:350px;
	float:left;
}

.dialog .form .input input[type="text"],
.dialog .form .input input[type="password"],
.dialog .form .input textarea
{
	width:250px;
	float:left;
}

input[type="checkbox"]
{
	margin-top:0px;
}

.form .input .left
{
	float:left;
}

.form .input .selector
{
	margin-top:2px;
}

.form .input span.msg
{
	padding-left:10px;
	display:block;
	padding-top:7px;
	font-size:12px;
	font-weight:bold;
	padding-left:10px;
	float:left;
}

.form .btn
{
	clear:both;
	margin-left:180px;
	padding-top:20px;
}

.ico
{
	font-family: iconSweets;
	font-weight: normal;
}

div.selector
{
	background: url(/gfx/ui/form/select_left.png) no-repeat scroll left top transparent;
	float: left;
	height: 28px;
	padding-left: 10px;
	position: relative;
	width: 190px;
}

div.selector select 
{
	cursor: pointer;
	font-size: 12px;
	height: 30px;
	margin-top:6px;
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
}

div.selector select option
{
	padding:5px;
	border:none;
}

div.selector span 
{
	background: url(/gfx/ui/form/select_right.png) no-repeat scroll right top transparent;
	cursor: pointer;
	height: 28px;
	line-height: 28px;
	position: absolute;
	right: -1px;
	top: 0;
	width: 190px;
}

div.actions a
{
	margin:0px 5px;
}

.progressbar
{
	position:relative;
	background:#F9F9F9;
	height:27px;
	display:none;
}

.progressbar > .progress
{
	height:27px;
	background-color:#DDD;
	width:0px;
}

.progressbar > .status
{
	position:absolute;
	left:10px;
	top:5px;
	font-size:12px;
}