body
{
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#666666; 
	line-height:23px;
	margin:30px 0;
}

input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"]
{
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:14px;
	padding:10px;
}

table th { text-align:left; padding:5px; }
table td { padding:5px; }

.wrapper
{
	margin:0 auto;
	width:640px;
}

.setup
{
	
	padding:25px;
	border:1px solid #E9E9E9;
	border-radius:10px;
}

.setup .top
{
	margin-bottom:10px;
}

ul.steps
{
	list-style:none;
	margin:0;
	padding:0;
	margin-bottom:15px;
}

ul.steps > li
{
	display:inline-block;
	margin-right:10px;
	color:#999;
}

ul.steps > li.active
{
	color:#000;
	font-weight:bold;
}

.buttons
{
	margin-top:20px;
}

.buttons:after
{
	content:'\00a0';
	clear:both;
	display:block;
}

.buttons > .left
{
	float:left;
}

.buttons > .right
{
	float:right;
}

.hidden
{
	display:none;
}

.margin-t { margin-top:15px; }