@font-face 
{
    font-family: 'IconSweets';
    src: url('/fonts/icon_sweet/icon-webfont.eot');
    src: url('/fonts/icon_sweet/icon-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/icon_sweet/icon-webfont.woff') format('woff'),
         url('/fonts/icon_sweet/icon-webfont.ttf') format('truetype'),
         url('/fonts/icon_sweet/icon-webfont.svg#iconSweetsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}